<!DOCTYPE html>
<html>
<head>
    <title>Using range with map in html/template</title>
</head>
<body>
    <p>Major web frameworks for web programming:</p>
    <ul>
        {{range $key, $value := .Frameworks}}
        <li>{{ $key }} ({{ $value }})</li>
        {{end}}
    </ul>
</body>
</html>